*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
}

.heading{
    text-align: center;
    margin-bottom: 50px;
}

.container{
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    
}

#login-area{
    margin-top: 30px;
    /* display: none; */
}

.submit-area{
    padding: 40px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
}

#transaction-area{
   display: none;
}

.deposit{
    background-color: #6A5ACD;
}

.withdraw{
    background-color: #FFA07A;
}

.balance{
    background-color: #FFA500;
}

.status{
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

